<div class="container" style="position: relative; display: flex; flex-direction: row;">
    <div class="card" style="width: 290px; height: 468px; margin-right: 430px;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Alvaro-Hernandez/img_card/backend/antigua-grecia.png" alt="Card image Diseno">
        <div class="card-body">
            <h5 class="card-title">Disenos Arquitectonicos</h5>
            <p class="card-text">Observemos o Creemos un Diseno para nuestros estudiantes</p>
        </div>
        <button class="btn btn-success" (click)="goDisenoArq()">Administracion de Disenos</button>
    </div>
    <div class="card" style="width: 18rem; margin-right: 30px;">
        <img class="card-img-top" src="https://raw.githubusercontent.com/Alvaro-Hernandez/img_card/backend/sitio-de-construccion.png" alt="Card image Img">
        <div class="card-body">
            <h5 class="card-title">Imagenes de Disenos</h5>
            <p class="card-text">Observemos las imagenes de los Disenos</p>
        </div>
        <button class="btn btn-success" (click)="goImgArq()">Administracion de Imagenes</button>
    </div>

</div>